<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DLP_Win.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DLP_Win.Properties.Settings>
            <setting name="AHV_NR" serializeAs="String">
                <value>.*756\.\d{4}\.\d{4}\.\d{2}.*</value>
            </setting>
            <setting name="CUSTOMER_NR" serializeAs="String">
                <value>\d{2}\.\d{5}-\d</value>
            </setting>
        </DLP_Win.Properties.Settings>
    </applicationSettings>
</configuration>